<div class="edit-container">

<h2>Edit Task</h2>

<form (ngSubmit)="updateTask()" class="task-form">

<input
type="text"
placeholder="Title"
[(ngModel)]="task.title"
name="title"
required
>

<input
type="text"
placeholder="Description"
[(ngModel)]="task.description"
name="description"
required
>

<select
[(ngModel)]="task.assignedUserId"
name="assignedUserId"
(change)="selectEmployee($event)"
required>

<option value="">Select Employee</option>

<option
*ngFor="let emp of employees"
[value]="emp.userId">

{{emp.name}} ({{emp.email}})

</option>

</select>

<input
type="datetime-local"
[(ngModel)]="task.dueDate"
name="dueDate"
required
>

<select [(ngModel)]="task.status" name="status">

<option value="Pending">Pending</option>
<option value="Completed">Completed</option>

</select>

<button type="submit">
Update Task
</button>

</form>

</div>